.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  label {
    font-size: 1rem;
    font-weight: 500;

    color: rgba(235, 235, 235, 0.9);

    margin-bottom: 1rem;
  }

  input {
    border: 0;
    outline: none;

    height: 3.5rem;

    background-color: #eaeaea;

    border-radius: 0.5rem;

    transition: 0.15s ease-in-out;

    padding-left: 0.5rem;

    color: black;

    &:focus {
      color: black;
      background-color: white;
    }
  }
}
